In [62]:
import numpy as np
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

### Vi henter data og opretter dataframe med titlen 'df'. Dette er vores rå data, som giver et overblik over alle observationer og tilhørende informationer. 

#### 'KKorgnr', 'Institution_Navn' og 'Koordinater' er hentet fra offentligt tilgængelige data om daginstitutioner i Københavns Kommune

#### 'Antal uddannede pædagoger', 'Antal pædagogmedhjælpere' 'Andre midlertidigt tilknyttede' og 'antal børn' er manuelt tilføjet med information hentet fra nettet. Kilderne til informationer om disse variable varierer, og fremgår derfor af variablen 'kilde' i hver enkelt observation. Variablen 'Samlede pædagoger' er defineret ved summen af 'antal uddannede pædagoger' og 'antal pædagogmedhjælpere', og variablen 'børn pr. voksen' er defineret ved at dividere 'antal børn' med 'samlede pædagoger', hvorefter vi runder op til næste hele tal

#### 'Andel af pæd. personale, der er uddannet 2020' er hentet fra det aktindsigt, vi modtog fra Københavns Kommune.

In [1]:
pd.read_csv('inst2.csv', sep = ',')

NameError: name 'pd' is not defined

In [54]:
df = pd.read_csv('inst2.csv', sep = ',')

In [55]:
#df = df.drop([206, 207, 208, 209, 210, 211, 212, 213])
df

,KKorgnr,Institution_Navn,"Andel af pæd personale, der er uddannet 2020",Antal uddannede pædagoger,Antal pædagogmedhjælpere (inkl. assistenter),Andre midlertidigt tilknyttede,Samlede pædagoger,Antal børn,Børn pr. voksen (rundet op),Koordinater,kilde:
0,1639.0,Solstrålen og Smørhullet,64%,11,7.0,Ja,18.0,72,4.0,"55.65870292280947, 12.60364145994735",https://pasningogskole.kk.dk/institution/10002...
1,1640.0,Børnehuset Urtehaven,61%,NaN,NaN,NaN,32.0,148,5.0,"55.69349412277640, 12.559608539952723",https://jobdanmark.dk/v64942212/job113155/paed...
2,1643.0,Vuggestuen Sundholm,41%,NaN,NaN,NaN,7.0,45,7.0,"55.66021961281015, 12.595556529948388",https://pasningogskole.kk.dk/institution/10002...
3,1644.0,Ingolf,54%,6,3.0,NaN,9.0,32,4.0,"55.639039152835800, 12.605015899947217",https://pasningogskole.kk.dk/institution/10002...
4,1645.0,Børnehuset Lygtemagerstien,58%,10,6.0,NaN,16.0,78,5.0,"55.6654989427991, 12.606799479946917",https://simplyjob.com/78463/koncernservice &&&...
...,...,...,...,...,...,...,...,...,...,...,...
201,6182.0,Børnehuset Den Gule Hat,62%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,6263.0,Enghave Remise,59%,NaN,NaN,ja,21.0,110,6.0,NaN,NaN
203,6290.0,Lyngholmen,22%,5,5.0,NaN,10.0,66,7.0,"55.643193, 12.508651",https://simplyjob.com/568977/kbenhavns-kommune...
204,6374.0,Børnehuset i Svinget,55%,NaN,NaN,NaN,12.0,88,8.0,"55.664760, 12.595950",https://svinget-kk.aula.dk/boernehaven
205,6375.0,Børnehuset Bella,64%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
#ændrer navnet på andelen af pæd. personale..
df.rename(columns = {'Andel af pæd personale, der er uddannet 2020' : 'paedpct', 'Børn pr. voksen (rundet op)' : 'Normering'}, inplace = True)
df

,KKorgnr,Institution_Navn,paedpct,Antal uddannede pædagoger,Antal pædagogmedhjælpere (inkl. assistenter),Andre midlertidigt tilknyttede,Samlede pædagoger,Antal børn,Normering,Koordinater,kilde:
0,1639.0,Solstrålen og Smørhullet,64%,11,7.0,Ja,18.0,72,4.0,"55.65870292280947, 12.60364145994735",https://pasningogskole.kk.dk/institution/10002...
1,1640.0,Børnehuset Urtehaven,61%,NaN,NaN,NaN,32.0,148,5.0,"55.69349412277640, 12.559608539952723",https://jobdanmark.dk/v64942212/job113155/paed...
2,1643.0,Vuggestuen Sundholm,41%,NaN,NaN,NaN,7.0,45,7.0,"55.66021961281015, 12.595556529948388",https://pasningogskole.kk.dk/institution/10002...
3,1644.0,Ingolf,54%,6,3.0,NaN,9.0,32,4.0,"55.639039152835800, 12.605015899947217",https://pasningogskole.kk.dk/institution/10002...
4,1645.0,Børnehuset Lygtemagerstien,58%,10,6.0,NaN,16.0,78,5.0,"55.6654989427991, 12.606799479946917",https://simplyjob.com/78463/koncernservice &&&...
...,...,...,...,...,...,...,...,...,...,...,...
201,6182.0,Børnehuset Den Gule Hat,62%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,6263.0,Enghave Remise,59%,NaN,NaN,ja,21.0,110,6.0,NaN,NaN
203,6290.0,Lyngholmen,22%,5,5.0,NaN,10.0,66,7.0,"55.643193, 12.508651",https://simplyjob.com/568977/kbenhavns-kommune...
204,6374.0,Børnehuset i Svinget,55%,NaN,NaN,NaN,12.0,88,8.0,"55.664760, 12.595950",https://svinget-kk.aula.dk/boernehaven
205,6375.0,Børnehuset Bella,64%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
#jeg dropper de observationer, som ikke har nogen normering, dvs. som vi ikke har data på
df = df.dropna(subset = ['Normering'])

df

,KKorgnr,Institution_Navn,paedpct,Antal uddannede pædagoger,Antal pædagogmedhjælpere (inkl. assistenter),Andre midlertidigt tilknyttede,Samlede pædagoger,Antal børn,Normering,Koordinater,kilde:
0,1639.0,Solstrålen og Smørhullet,64%,11,7.0,Ja,18.0,72,4.0,"55.65870292280947, 12.60364145994735",https://pasningogskole.kk.dk/institution/10002...
1,1640.0,Børnehuset Urtehaven,61%,NaN,NaN,NaN,32.0,148,5.0,"55.69349412277640, 12.559608539952723",https://jobdanmark.dk/v64942212/job113155/paed...
2,1643.0,Vuggestuen Sundholm,41%,NaN,NaN,NaN,7.0,45,7.0,"55.66021961281015, 12.595556529948388",https://pasningogskole.kk.dk/institution/10002...
3,1644.0,Ingolf,54%,6,3.0,NaN,9.0,32,4.0,"55.639039152835800, 12.605015899947217",https://pasningogskole.kk.dk/institution/10002...
4,1645.0,Børnehuset Lygtemagerstien,58%,10,6.0,NaN,16.0,78,5.0,"55.6654989427991, 12.606799479946917",https://simplyjob.com/78463/koncernservice &&&...
...,...,...,...,...,...,...,...,...,...,...,...
195,6018.0,Æblekassen,37%,NaN,NaN,NaN,35.0,180,6.0,NaN,https://aeblekassen-kk.aula.dk/sites/aeblekass...
199,6034.0,Olympia,60%,7,4.0,NaN,11.0,48,5.0,"55.70191385276709, 12.55272761995351",https://simplyjob.com/330935/kbenhavns-kommune...
202,6263.0,Enghave Remise,59%,NaN,NaN,ja,21.0,110,6.0,NaN,NaN
203,6290.0,Lyngholmen,22%,5,5.0,NaN,10.0,66,7.0,"55.643193, 12.508651",https://simplyjob.com/568977/kbenhavns-kommune...
204,6374.0,Børnehuset i Svinget,55%,NaN,NaN,NaN,12.0,88,8.0,"55.664760, 12.595950",https://svinget-kk.aula.dk/boernehaven

In [58]:
print(type('paedpct'))

<class 'str'>

In [59]:
print(df['paedpct'])

0      64%
1      61%
2      41%
3      54%
4      58%
      ...
195    37%
199    60%
202    59%
203    22%
204    55%
Name: paedpct, Length: 119, dtype: object

In [63]:
#laver string-procenter om til integers, så vi kan bruge dem
df['paedpct'] = df['paedpct'].str.rstrip('%').astype('string')
df

,KKorgnr,Institution_Navn,paedpct,Antal uddannede pædagoger,Antal pædagogmedhjælpere (inkl. assistenter),Andre midlertidigt tilknyttede,Samlede pædagoger,Antal børn,Normering,Koordinater,kilde:
0,1639.0,Solstrålen og Smørhullet,64,11,7.0,Ja,18.0,72,4.0,"55.65870292280947, 12.60364145994735",https://pasningogskole.kk.dk/institution/10002...
1,1640.0,Børnehuset Urtehaven,61,NaN,NaN,NaN,32.0,148,5.0,"55.69349412277640, 12.559608539952723",https://jobdanmark.dk/v64942212/job113155/paed...
2,1643.0,Vuggestuen Sundholm,41,NaN,NaN,NaN,7.0,45,7.0,"55.66021961281015, 12.595556529948388",https://pasningogskole.kk.dk/institution/10002...
3,1644.0,Ingolf,54,6,3.0,NaN,9.0,32,4.0,"55.639039152835800, 12.605015899947217",https://pasningogskole.kk.dk/institution/10002...
4,1645.0,Børnehuset Lygtemagerstien,58,10,6.0,NaN,16.0,78,5.0,"55.6654989427991, 12.606799479946917",https://simplyjob.com/78463/koncernservice &&&...
...,...,...,...,...,...,...,...,...,...,...,...
195,6018.0,Æblekassen,37,NaN,NaN,NaN,35.0,180,6.0,NaN,https://aeblekassen-kk.aula.dk/sites/aeblekass...
199,6034.0,Olympia,60,7,4.0,NaN,11.0,48,5.0,"55.70191385276709, 12.55272761995351",https://simplyjob.com/330935/kbenhavns-kommune...
202,6263.0,Enghave Remise,59,NaN,NaN,ja,21.0,110,6.0,NaN,NaN
203,6290.0,Lyngholmen,22,5,5.0,NaN,10.0,66,7.0,"55.643193, 12.508651",https://simplyjob.com/568977/kbenhavns-kommune...
204,6374.0,Børnehuset i Svinget,55,NaN,NaN,NaN,12.0,88,8.0,"55.664760, 12.595950",https://svinget-kk.aula.dk/boernehaven

In [64]:
#jeg inspicerer variablen 'Normering'
df['Normering'].value_counts()

6.0     41
5.0     25
4.0     19
7.0     12
8.0     10
9.0      6
3.0      4
13.0     1
2.0      1
Name: Normering, dtype: int64

In [2]:
#jeg finder gennemsnittet for Normering
df['Normering'].mean()

NameError: name 'df' is not defined